<div class="card" style="width: 80%;margin: auto;margin-top: 40px; ;padding: 10px;">
        <h5 class="card-header">Invoice</h5>
        <div>
                    <div class="form-group">
                        <b>Company:</b>
                        <span><%= company%></span>
                    </div>
                    <div class="form-group">
                            <b>Contragent:</b>
                            <span><%= contragent%></span>
                    </div>
                    <div class="form-group">
                            <b>Amount:</b>
                            <span><%= amount%></span>
                    </div>
                    <div class="form-group">
                            <b>Date:</b>
                            <span><%= data%></span>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                               <a href="../" style="text-decoration: none;"><button class="btn btn-danger btn-lg btn-block"  type="button">Back</button></a> 
                            </div>
                            <div class="col">
                                <a href="/editinvoice" class="btn btn-primary btn-lg btn-block">Edit</a>
                            </div>
                        </div>
                    </div>
        </div>
</div>